html {
    font-family: 'Comic Sans MS', cursive;
    color: white;
    background-color: black;
}

header {
    background-color: tomato;
    display: flex;
    align-items: center;
    gap: 1rem;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

a {
    background-color: turquoise;
    font-family: Impact;
}
