html {
    font-family: 'Comic Sans MS', cursive;
    color: white;
    background-color: black;

    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 100%;
}

header {
    background-color: tomato;
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer {
    background-color: purple;
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

a {
    background-color: turquoise;
    font-family: Impact;
}

.tiny {
    font-size: 0.1rem;
}
