html {
    font-family: 'Comic Sans MS', cursive;
    color: white;
    background-color: black;

    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 100%;
}

header {
    background-color: tomato;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
}

header > h1 {
    margin: 0;
    text-align: center;
    width: 100%;
}

footer {
    background-color: purple;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
}

a {
    background-color: inherit;
    font-family: Impact;
    color: turquoise;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-shadow: 2px 2px 2px black;
    padding: 0.5rem;
}

a:hover, a:active {
    filter: brightness(0.9);
    color: white;
}

.embeds {
    display: flex;
}

.medium {
    font-size: 0.75rem;
}

.small {
    font-size: 0.5rem;
}

.tiny {
    font-size: 0.1rem;
}

.center {
    text-align: center;
}

.meet-the-team {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.team-member {
    background-color: cornflowerblue;
    text-shadow: 3px 3px 2px black;
    padding: 0.5rem;
    width: 15rem;
    height: 12rem;
    font-size: 0.8rem
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
    width: 100%;
}

.review-container {
    width: 20rem;
    max-width: 20rem;
    min-width: 20rem;
}

.aidan {
    font-family: 'segoe script';
    text-align: right;
    margin: 0;
}

#big-slice {
    background-image: url("assets/457744609_784437667014126_3924890136704405397_n.jpg");
    background-size: contain;
}
